<!-- Another Remote Announce Example.
<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
 <name replace-wildcards="no">iTunes Music<name>
 <service>
  <type>_daap._tcp</type>
  <host-name>ituneshost.local</host-name>
  <port>3689</port>
 </service>
</service-group>
-->
