.wikiextras.box {
    background: #f7f7f0;
    border: 1px outset #eee;
    border-radius: 11px;
    box-shadow: .2em .2em .7em 0 #777;
    font-size: 0.85em;
    margin: 1em 0 2em 1.75em;
    overflow: auto;
    padding: 0 11px;
}
.wikiextras.box h1, .wikiextras.box h2, .wikiextras.box h3,
.wikiextras.box h4, .wikiextras.box h5, .wikiextras.box h6 {
    background: none;
    border: none;
    color: #000;
    margin: 1em 0 0.5em 0;
    padding: 0;
    text-shadow: none;
}
.wikiextras.box h1 {
    background: #d7d7d0;
    border-radius: 11px 11px 0 0;
    font-size: 1.3em;
    margin: 0 -11px 9px -11px;
    padding: 0.3em 11px;
}
.wikiextras.box * + h1 {
    margin-top: 1.5em;
    border-radius: 0;
}
.wikiextras.box h2, .wikiextras.box h3, .wikiextras.box h4 {
    font-size: 1.1em;
}
.wikiextras.box h3 {
    font-style: normal;
    font-weight: 100;
    text-decoration: underline;
}
.wikiextras.box h4 {
    font-style: italic;
    font-weight: 100;
}
.wikiextras.box p {
    padding: 0;
}
.wikiextras.box h2 + p, .wikiextras.box h3 + p, .wikiextras.box h4 + p,
.wikiextras.box h5 + p, .wikiextras.box h6 + p {
    margin-top: 0.2em;
}
.wikiextras.box ol, .wikiextras.box ul {
    padding-left: 20px;
}
.wikiextras.box > ol, .wikiextras.box > ul, .wikiextras.box > img,
.wikiextras.box > table {
    margin-bottom: 1em;
    margin-top: 1em;
}
.wikiextras.box img + *, .wikiextras.box table + *,
.wikiextras.box * + img, .wikiextras.box * + table {
    margin-top: 0;
}
.wikiextras.box > img {
    border: 1px solid black;
}
.wikiextras.box hr {
    border-color: #c7c7c0;
    margin-top: 1em;
    margin-bottom: 1em;
}
.wikiextras.box .post hr {
    display: none;
}
.wikiextras.box th, .wikiextras.box table.wiki th,
.wikiextras.box table.docutils th {
    background-color: #e0e0d8;
}
.wikiextras.box th, .wikiextras.box td,
.wikiextras.box table.wiki th, .wikiextras.box table.wiki td,
.wikiextras.box table.docutils th, .wikiextras.box table.docutils td {
    font-size: 0.85em;
    border-color: #b3b3ac;
}

/* Box alignment */
.wikiextras.box.center {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.wikiextras.box.left {
    clear: left;
    float: left;
    margin-top: 0;
    margin-right: 4em;
    width: auto;
}
.wikiextras.box.right {
    clear: right;
    float: right;
    margin-top: 0;
    margin-left: 4em;
    /* width determined by complementary css */
}

/* Box for presentation of image */
.wikiextras.box.image {
    text-align: center;
}

/* Colored boxes */
.wikiextras.box.blue {
    background: #E0F4FF;
    border: 1px outset #C0D4DF;
}
.wikiextras.box.green {
    background: #f2fff2;
    border: 1px outset #d2dfd2;
}
.wikiextras.box.red {
    background: #FFD2D2;
    border: 1px outset #DFB2B2;
}
.wikiextras.box.yellow {
    background: #FCF6DC;
    border: 1px outset #DCD6BC;
}
.wikiextras.box.white {
    background: #f7f7f0;
    border: 1px outset #eee;
}

.wikiextras.box.blue th, .wikiextras.box.blue table.wiki th,
.wikiextras.box.blue table.docutils th {
    background-color: #CBDFEA;
}
.wikiextras.box.blue th, .wikiextras.box.blue td,
.wikiextras.box.blue table.wiki th, .wikiextras.box.blue table.wiki td,
.wikiextras.box.blue table.docutils th, .wikiextras.box.blue table.docutils td {
    border-color: #A0B5C1;
}

.wikiextras.box.green h1, .wikiextras.box.green th,
.wikiextras.box.green table.wiki th, .wikiextras.box.green table.docutils th {
    background-color: #CFDEBA;
}
.wikiextras.box.green th, .wikiextras.box.green td,
.wikiextras.box.green table.wiki th, .wikiextras.box.green table.wiki td,
.wikiextras.box.green table.docutils th, .wikiextras.box.green table.docutils td {
    border-color: #A4B491;
}

.wikiextras.box.red th, .wikiextras.box.red table.wiki th,
.wikiextras.box.red table.docutils th {
    background-color: #E6B9B9;
}
.wikiextras.box.red th, .wikiextras.box.red td,
.wikiextras.box.red table.wiki th, .wikiextras.box.red table.wiki td,
.wikiextras.box.red table.docutils th, .wikiextras.box.red table.docutils td {
    border-color: #CFA2A2;
}

.wikiextras.box.yellow th, .wikiextras.box.yellow table.wiki th,
.wikiextras.box.yellow table.docutils th {
    background-color: #E0DAC0;
}
.wikiextras.box.yellow th, .wikiextras.box.yellow td,
.wikiextras.box.yellow table.wiki th, .wikiextras.box.yellow table.wiki td,
.wikiextras.box.yellow table.docutils th, .wikiextras.box.yellow table.docutils td {
    border-color: #BCB69C;
}

.wikiextras.box.white th, .wikiextras.box.white table.wiki th,
.wikiextras.box.white table.docutils th {
    background-color: #e0e0d8;
}
.wikiextras.box.white th, .wikiextras.box.white td,
.wikiextras.box.white table.wiki th, .wikiextras.box.white table.wiki td,
.wikiextras.box.white table.docutils th, .wikiextras.box.white table.docutils td {
    border-color: #b3b3ac;
}

/* Icon box */
.wikiextras.box.icon {
    background-repeat: no-repeat;
    background-position: 11px 11px;
    min-height: 46px;
    padding-left: 46px;
}
.wikiextras.box.icon h1, .wikiextras.box.icon h2, .wikiextras.box.icon h3,
.wikiextras.box.icon h4, .wikiextras.box.icon h5, .wikiextras.box.icon h6 {
    background: none;
    border: none;
    border-radius: 0;
    margin-left: 0;
    padding: 0 2em 0 0;
}
.wikiextras.box.icon *:first-child {
    margin-top: 15px;
}
.wikiextras.box.icon * + h1 {
    margin-top: 1.5em;
}

.wikiextras.box.icon.center, .wikiextras.box.icon.right {
    /* width determined by complementary css */
}

/* Icons (shadowless) */
.wikiextras.box.icon.comment {
    background-image: url(../icons/fugue/bonus/icons-shadowless-24/sticky-note.png);
}
.wikiextras.box.icon.configure {
    background-image: url(../icons/fugue/bonus/icons-shadowless-24/vise.png);
}
.wikiextras.box.icon.details {
    background-image: url(../icons/fugue/bonus/icons-shadowless-24/magnifier.png);
}
.wikiextras.box.icon.discussion {
    background-image: url(../icons/fugue/bonus/icons-shadowless-24/balloon.png);
}
.wikiextras.box.icon.information {
    background-image: url(../icons/fugue/bonus/icons-shadowless-24/information.png);
}
.wikiextras.box.icon.nok {
    background-image: url(../icons/fugue/bonus/icons-shadowless-24/thumb.png);
}
.wikiextras.box.icon.ok {
    background-image: url(../icons/fugue/bonus/icons-shadowless-24/thumb-up.png);
}
.wikiextras.box.icon.question {
    background-image: url(../icons/fugue/bonus/icons-shadowless-24/question.png);
}
.wikiextras.box.icon.stop {
    background-image: url(../icons/fugue/bonus/icons-shadowless-24/cross-circle.png);
}
.wikiextras.box.icon.tips {
    background-image: url(../icons/fugue/bonus/icons-shadowless-24/light-bulb-off.png);
}
.wikiextras.box.icon.warning {
    background-image: url(../icons/fugue/bonus/icons-shadowless-24/exclamation.png);
}

/* Icons (shadow) */
.wikiextras.box.icon.shadow.comment {
    background-image: url(../icons/fugue/bonus/icons-24/sticky-note.png);
}
.wikiextras.box.icon.shadow.configure {
    background-image: url(../icons/fugue/bonus/icons-24/vise.png);
}
.wikiextras.box.icon.shadow.details {
    background-image: url(../icons/fugue/bonus/icons-24/magnifier.png);
}
.wikiextras.box.icon.shadow.discussion {
    background-image: url(../icons/fugue/bonus/icons-24/balloon.png);
}
.wikiextras.box.icon.shadow.information {
    background-image: url(../icons/fugue/bonus/icons-24/information.png);
}
.wikiextras.box.icon.shadow.nok {
    background-image: url(../icons/fugue/bonus/icons-24/thumb.png);
}
.wikiextras.box.icon.shadow.ok {
    background-image: url(../icons/fugue/bonus/icons-24/thumb-up.png);
}
.wikiextras.box.icon.shadow.question {
    background-image: url(../icons/fugue/bonus/icons-24/question.png);
}
.wikiextras.box.icon.shadow.stop {
    background-image: url(../icons/fugue/bonus/icons-24/cross-circle.png);
}
.wikiextras.box.icon.shadow.tips {
    background-image: url(../icons/fugue/bonus/icons-24/light-bulb-off.png);
}
.wikiextras.box.icon.shadow.warning {
    background-image: url(../icons/fugue/bonus/icons-24/exclamation.png);
}

/* Override trac styling */
.wiki-toc {
    background: #f7f7f0 !important;
    border: 1px outset #eee !important;
    border-radius: 11px !important;
    box-shadow: .2em .2em .7em 0 #777;
    clear: both !important;
    float: right !important;
    font-size: 0.85em !important;
    margin: 0 0 2em 4em !important;
    overflow: auto !important;
    padding: 0 11px !important;
    /* width determined by complementary css */
}
.wiki-toc h4 {
    background: #d7d7d0 !important;
    border-radius: 11px 11px 0 0 !important;
    font-size: 1.3em !important;
    margin: 0 -11px 9px -11px !important;
    padding: 0.3em 11px !important;
}
.wiki-toc > ol, .wiki-toc > ul {
    margin-bottom: 1em !important;
    margin-top: 1em !important;
}
#prefs {
    margin: 0 0 2em 2em !important;
}
#attachments, .buttons {
    clear: both;
}
