span.wikiextras.phrase {
    border-radius: 1em;
    color: #fff8dc;
    font-family: Verdana,Arial,'Bitstream Vera Sans',Helvetica,sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    font-style: normal;
    /*  vertical-align: 20%; */ /* Renders incorrectly in IE9 */
    padding: 1px 1.2em;
}

span.wikiextras.phrase.fixme { background-color: #b22222; }

span.wikiextras.phrase.todo { background-color: #000; }

span.wikiextras.phrase.done {
    border: 1px solid #005200;
    color: #005200;
}
