docs/CHANGELOG.md ident
docs/FIRMWARES.md ident

make/busybox/avm/*                             linguist-vendored
make/busybox/busybox.rebuild-subopts.mk.in.*   linguist-vendored
make/busybox/Config.in.busybox.*               linguist-vendored
make/busybox/Config.in.symbools.*              linguist-vendored
make/kernel/configs/avm/*                      linguist-vendored
make/kernel/configs/freetz/*                   linguist-vendored
toolchain/make/target/uclibc/configs/avm/*     linguist-vendored
toolchain/make/target/uclibc/configs/freetz/*  linguist-vendored

