#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.gz
*.bz2
*.log
*.lzma
*.xz
*.patch

#
# Top-level directories
#
/build
/dl
/images
/kernel
/packages
/source

#
# temporary files generated during build
#
/make/*.generated
/config/custom.in
/include/config

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.build-prerequisites
!.defdynamic
!.defstatic
!.exclude-dist
!.version
