@import url(../common.css);

a {
	text-decoration: none;
}
a:link, a:visited {
	color: #303030;
}
a:hover {
	color: #505050;
	text-decoration: underline;
}
body {
	margin: 20px 0px;
}
body, div, td {
	color: black;
	font: 14px sans-serif;
}
p, ul, ol {
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 0px;
}
ul, ol {
	margin-left: 20px;
}
form {
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0px;
}
h1, legend {
	margin-top: 5px;
	color: black;
	font: bold 14px sans-serif;
}
h2 {
	margin-top: 10px;
	margin-bottom: 7px;
	padding: 0px;
	color: black;
	font: italic 14px sans-serif;
}
pre {
	font-size: 14px;
	border: 2px dotted #bbbbbb;
	padding: 10px;
}
pre.plain {
	font-size: 8pt;
	border: none;
	padding: 0px;
}

pre.log.full {
	min-height: 550px;
	max-height: 550px;
}
fieldset {
	margin: 10px 0px;
	padding: 10px;
}
small {
	font-size: 8pt;
}
input {
	padding: 2px;
}
form.btn {
	margin: 0px;
}
div.btn {
	float: left;
	margin-top: 10px;
	padding-right: 3px;
}
div.section {
	clear: left;
}
.menu {
	display: block;
	width: 190px;
	background-color: #ffffff;
	float: right;
	border: 2px dotted #bbbbbb;
	margin: 10px 0px 10px 20px;
	padding: 2px;
	padding-top: 0px;
}
.menu ul, .menu li {
	margin: 0;
	padding: 0;
}
.menu li {
	display: block;
	font: bold 12px sans-serif;
	margin-top: 2px;
	padding: 0px;
}
.menu li li {
	font-weight: normal;
	margin: 0;
}

.menu a {
	display: block;
	padding: 1px 5px;
}
.menu ul a {
	padding-left: 35px;
	text-indent: -15px;
}
.menu a:link, .menu a:visited, .menu a:hover {
	color: black;
}
.menu .active {
	background-color: #bae3ff;
}
.menu.new ul {
	display: none;
}
.menu.new > li.open ul {
	display: block;
}

div.titlebar {
	margin-left: 5px;
}
div.titlebar, div.titlebar a {
	color: white;
	font: bold 18px Verdana, sans-serif;
}
span.title {
	font-style: italic;
}
span.help a, span.help {
	font-style: italic;
}
div.version {
	color: #bae3ff;
	font: italic bold 12px Verdana, sans-serif;
	margin-right: 5px;
	float: right;
}
#footer {
	color: gray;
	font: normal 10px Verdana, sans-serif;
	text-align: center;
	margin-top: 5px;
}
div.su a {
	padding-left: 20px;
	padding-right: 5px;
}

#edge {
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;
}
#edge td {
	padding: 0;
	margin: 0;
}
#edge-left {
	background: url(/images/legacy/edge_l.png) repeat-y left;
}
#edge-top {
	background: url(/images/legacy/edge_t.png) repeat-x top;
}
#edge-right {
	background: url(/images/legacy/edge_r.png) repeat-y right;
}
#edge-bottom {
	background: url(/images/legacy/edge_b.png) repeat-x bottom;
}
#edge-top-left {
	background: url(/images/legacy/edge_lt.png) top left;
}
#edge-top-right {
	background: url(/images/legacy/edge_rt.png) top right;
}
#edge-bottom-left {
	background: url(/images/legacy/edge_lb.png) bottom left;
}
#edge-bottom-right {
	background: url(/images/legacy/edge_rb.png) bottom right;
}
#edge-top-left, #edge-top-right {
	width: 20px;
	height: 40px;
	background-repeat: no-repeat;
}
#edge-bottom-left, #edge-bottom-right {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
}
#container {
	padding: 10px;
}
.menu + #content {
	margin-right: 225px;
}
.textwrapper {
	margin-right: 8px;
}
.textwrapper textarea {
	width: 100%;
}
