/* styles for simple language selector on the right of ctxtnav */
/* Basically same to simple menu bar except:
   - display on the right of context menu (faked by float).
   - narrow item spacing
   - draw left border as seperator.
 */

@import url(langmenu-simple.css);

div#langmenu {
  float: right;
  border-left: solid #dddddd 1px;
}

div#langmenu ul {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px;
  padding-left: 5px;
}

/* narrow spacing */
div#langmenu li a {
  padding-right: 0.3em !important;
  padding-left: 0.3em !important;
}
