@import url(../common.css);

html {
	font-size: 100.01%;
}
body {
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
	font-size: 0.85em;
	line-height: 1.33em;
	padding: 0;
	margin: 0;
	background: lightgrey;
}
#world {
	max-width: 60em;
	margin: 0 auto;
	position: relative;
	background: white;
	color: black;

	-moz-box-shadow: 0 0 1.33em grey;
	-webkit-box-shadow: 0 0 1.33em grey;
	box-shadow: 0 0 1.33em grey;

	-moz-border-radius-bottomleft: 0.67em;
	-moz-border-radius-bottomright: 0.67em;
	-webkit-border-bottom-left-radius: 0.67em;
	-webkit-border-bottom-right-radius: 0.67em;
	border-bottom-left-radius: 0.67em;
	border-bottom-right-radius: 0.67em;
}

#footer {
	-moz-border-radius-bottomleft: inherit;
	-moz-border-radius-bottomright: inherit;
	-webkit-border-bottom-left-radius: inherit;
	-webkit-border-bottom-right-radius: inherit;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#container, #header, #footer {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#container {
	padding-bottom: 2em;
}
#header, #footer {
	background: #cc0000;
	color: #ff7777;
	text-align: left;
}
#header {
	color: white;
	border-bottom: solid 2px #ff7777;
}
#footer {
	font-size: 80%;
	clear: both;
	margin-bottom: 2em;
}
#footer .version {
	float: right;
}

#header h1 {
	color: inherit;
	display: inline;
	border: none;
	margin: 0;
}
#header a {
	color: inherit;
	text-decoration: none;
}
#header a.help {
	float: right;
}
h1 {
	font-size: 120%;
	font-weight: bold;
	color: #cc0000;
	padding-bottom: 2px;
	margin-top: 1.33em;
	margin-bottom: 0.67em;
}
div.section > h1:first-child {
	border-bottom: solid #cc0000 1px;
}
h2 {
	font-size: 100%;
}

/* input elements */

input[type="text"], input[type="password"], textarea, select {
	background-color: white;
	border: solid 1px #aaaaaa;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus,
select:focus {
	background-color: #f2f2f2;
	border-color: #cc0000;
}
input[readonly], textarea[readonly] {
	color: grey;
}
input, select {
	font: inherit;
}
input {
	padding: 1px 3px;
}
input[type="text"], textarea, option {
	padding: 3px;
}
.textwrapper {
	margin-right: 8px;
}
.textwrapper textarea {
	width: 100%;
}
div.btn {
	display: block;
	float: left;
	margin: 0.67em 0.67em 1.33em 0;
}

/* links */

:link, :visited {
	text-decoration: none;
	border-bottom: 1px dotted #cccccc;
	color: #770000;
}
#header :link, #header :visited {
	border-bottom: 1px dotted #ff7777;
}
a:hover {
	border-bottom-style: solid;
	border-bottom-color: #770000;
	background-color: #eeeeee;
}
#header a:hover {
	background-color: inherit;
}
a#about, a.image {
	border-bottom-style: none !important;
}

/* navigation */

ul.menu {
	display: block;
	padding: 0;
	margin: 0;
	position: relative;
	float: left;
	clear: left;
	margin-bottom: 2em;
}
ul.menu.new.sub {
	margin-top: -1.33em;
	margin-bottom: 2em;
}
ul.menu a {
	display: block;
	padding: 3px 6px;
	border: none;
}
ul.menu > li + li {
	border-left: 1px dotted #cccccc;
}
ul.menu a.active,
ul.menu li.open > a,
ul.menu li.open:hover > a,
ul.menu li:hover a.active {
	background: #cc0000;
	color: white;
	font-weight: bold;
}
ul.menu ul a, ul.menu.sub a {
	font-size: 80%;
}
ul.menu > li:hover > a {
	background: #eeeeee;
}
ul.menu li {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}
ul.menu ul li {
	float: none;
	white-space: nowrap;
}
ul.menu > li {
	position: relative;
}
ul.menu ul {
	display: block;
	position: absolute;
	z-index: 5;
	left: -1px;
	background: white;
	border: 1px solid #cccccc;
	-moz-box-shadow: 0 0 0.5em #cccccc;
	-webkit-box-shadow: 0 0 0.5em #cccccc;
	box-shadow: 0 0 0.5em #cccccc;
	margin: 0;
	padding: 0;
}
ul.menu ul {
	display: none;
}
ul.menu li:hover ul {
	display: block;
}
#content {
	clear: both;
}

/* misc */

pre.log {
	background: #f2f2f2;
	border: 1px solid #dddddd;
	padding: 1ex;
}
pre.log.full {
	max-height: none;
}
div.section {
	clear: left;
}
/*
table.daemons form.btn {
	visibility: hidden;
}
table.daemons tr:hover form.btn {
	visibility: visible;
}
*/

p.warning, p.error, p.info {
	display: block;
	background-color: transparent;
	background-position: left center;
	background-repeat: no-repeat;
	min-height: 32px;
	padding: 8px 0px 0px 40px;
}
p.warning {
	background-image: url(/images/phoenix/dialog-warning.png);
}
p.error {
	background-image: url(/images/phoenix/dialog-error.png);
}
p.info {
	background-image: url(/images/phoenix/dialog-information.png);
}
