pre {
	overflow: auto;
}
pre.log {
	min-height: 250px;
	max-height: 650px;
}
pre.log.small {
	min-height: 1em;
	max-height: 650px;
}
.failure {
	color: #ff0000;
}
.success {
	color: #00c000;
}
.foreign {
	color: #0000ff;
}
.disabled {
	color: #ff9933;
}
.error {
	color: #ff0000;
	font-weight: bold;
}
.warning {
	color: #ff0000;
}
.info {
	font-style: italic;
}
table.bar, table.bar td {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
table.bar {
	width: 100%;
	table-layout: fixed;
	margin: 3px 0px;
	border-spacing: 0px;
}
table.bar td {
	text-align: center;
	font-size: 8pt;
	padding: 2px;
	overflow: hidden;
}
table {
	empty-cells: show;
	border-spacing: 2px;
}
td {
	border-style: none;
	padding: 0;
}

dl.info {
	display: block;
	font-style: normal;
	margin: 0;
	margin-top: 6px;
}
dl.info dl {
	display: block;
	margin: 0;
}
dl.info dt {
	font-weight: bold;
	display: inline;
	margin: 0;
	margin-right: 0.25em;
}
dl.info dt:after {
	content: ":";
}
dl.info dd {
	font-weight: normal;
	display: inline;
	margin: 0;
	margin-right: 1em;
}
