table.mounted {
	border-spacing: 0px;
	table-layout: auto;
	width: 100%;
}
.mounted td {
	text-align: left;
	font-weight: normal;
}
.mounted .path, .mounted .fstype {
	text-align: left;
	font-weight: bold;
}
.mounted .free, .mounted .path {
	padding-right: 10px;
}
.mounted .actions {
	text-align: right;
	white-space: nowrap;
}
.mounted .button {
	padding: 0px;
	margin: 0px;
	width: 25px;
	height: 25px;
	font-size: 8pt;
	font-weight: bold;
	border-width: 3px;
}
.mounted .button[disabled] {
	border-style: solid;
}
.mounted tbody tr:first-child td {
	padding-top: 15px;
}
.mounted tbody:first-child tr:first-child td {
	padding-top: 3px;
}
.mounted pre.error {
	text-decoration: blink;
}
