table.bar.rw .part0, table.bar.br .part0  {
	background-color: #CCFFCC;
}
table.bar.rw .part1, table.bar.br .part1  {
	background-color: #33CC33;
}
table.bar.br .part2	{
	background-color: #339900;
}
table.bar.ro .part0	{ background-color: #c0c0ff; }
table.bar.ro .part1	{
	background-color: #3366FF;
	color: #ffffff;
}

.mounted .rw .path	{ color: #339900; }
.mounted .ro .path	{ color: #3366FF; }

.mounted .button[value=R] { border-color:#3366FF; color: #3366FF; }
.mounted .ro .button[value=R] { background-color:#3366FF; color: white; }
.mounted .button[value=W] { border-color:#33CC33; color: #33CC33; }
.mounted .rw .button[value=W] { background-color:#33CC33; color: white; }


table.bar.rw .part0, table.bar.br .part0, table.bar.ro .part0 {
	border: 1px solid #666;
	border-left: none;
}

table.bar.rw .part1, table.bar.br .part1, table.bar.ro .part1 {
	border: 1px solid #666;
	border-right-style: none;
}

table.bar.br .part2	{
	border: 1px none #666;
	border-top-style: solid;
	border-bottom-style: solid;
}