ul.bar.rw .part0, ul.bar.br .part0  { background-color: #c0c0c0; }
ul.bar.rw .part1, ul.bar.br .part1  { background-color: #00ff00; }
ul.bar.br .part2	{ background-color: #80c080; }
ul.bar.ro .part0	{ background-color: #c0c0ff; }
ul.bar.ro .part1	{ background-color: #0000ff; color: #ffffff; }

.mounted .rw .path	{ color: #008000; }
.mounted .ro .path	{ color: #000080; }

.mounted .button[disabled] { color:#FFFFFF; }
.mounted .button[value=R] { border-color:#000080; }
.mounted .ro .button[value=R] { background-color:#000080; }
.mounted .button[value=W] { border-color:#008000; }
.mounted .rw .button[value=W] { background-color:#008000; }
