ul.bar.rw .part0, ul.bar.br .part0  { background-color: #c0c0c0; }
ul.bar.rw .part1, ul.bar.br .part1  { background-color: #808080; color: #ffffff; }
ul.bar.br .part2	{ background-color: #a0a0a0; }
ul.bar.ro .part0	{ background-color: #a0a0a0; }
ul.bar.ro .part1	{ background-color: #404040; color: #ffffff; }

.pathrw			{ color: #808080; }
.pathro			{ color: #000000; }
.rbtnro, .wbtnrw	{ color:#FFFFFF; }
.rbtnrw, .rbtnro	{ border-color:#404040; }
.rbtnro			{ background-color:#404040; }
.wbtnrw, .wbtnro	{ border-color:#808080; }
.wbtnrw			{ background-color:#808080; }
