a			{ text-decoration: none; }
a:link, a:visited	{ color: #303030; }
a:hover			{ color: #505050; text-decoration: underline; }
body			{ margin: 0px; margin-top: 20px; margin-bottom: 20px; }
body, div, td		{ color: black; font: 14px sans-serif; }
p, ul, ol		{ margin-top: 10px; margin-bottom: 15px; padding: 0px; }
ul, ol			{ margin-left: 20px; }
form			{ margin-top: 10px; margin-bottom: 0px; padding: 0px; }
h1, legend		{ margin-top: 5px; color: black; font: bold 14px sans-serif; }
h2			{ margin-top: 10px; margin-bottom: 7px; padding: 0px; color: black; font: italic 14px sans-serif; }
pre			{ font-size: 14px; border: 2px dotted #bbbbbb; padding: 10px; }
table			{ empty-cells: show; }
fieldset		{ margin: 0px; margin-top: 10px; margin-bottom: 10px; padding: 10px; margin-right:185px; }
small			{ font-size: 8pt; }
input			{ padding: 2px; }
form.btn		{ margin: 0px; }
div.btn			{ float: left; margin-top: 10px; padding-right: 3px; }
div.menu		{ width: 150px; float: right; border: 2px dotted #bbbbbb; margin: 0px; margin-left: 20px; margin-top: 10px; margin-bottom: 10px; padding: 2px; padding-top: 0px; }
div.menu div		{ background-color: #ffffff; font: bold 12px sans-serif; margin: 0px; margin-top: 2px; padding-top: 1px; padding-bottom: 1px; }
div.menu div a:link,
div.menu div a:visited,
div.menu div a:hover	{ color: black; }
div.menu div.su		{ margin-top: 0px; font: normal 12px sans-serif; }
div.menu a		{ padding-left: 5px; padding-right: 5px; }
div.title		{ color: white; font: bold 18px Verdana, sans-serif; margin-left: 5px; }
div.version		{ color: #bae3ff; font: italic bold 12px Verdana, sans-serif; margin-right: 5px; float: right; }
div.opt			{ color: gray; font: normal 10px Verdana, sans-serif; margin-right: 5px; float: right; }
div.su a		{ padding-left: 20px; padding-right: 5px; }

ul.bar, ul.bar li	{ border: 0px; padding: 0px; margin: 0px; }
ul.bar 			{ display: table; width: 100%; margin: 3px 0px; }
ul.bar li 		{ display: table-cell; text-align: center; font-size: 8pt; padding: 2px; }
ul.bar.rw .part0, ul.bar.br .part0  { background-color: #c0c0c0; }
ul.bar.rw .part1, ul.bar.br .part1  { background-color: #808080; color: #ffffff; }
ul.bar.br .part2	{ background-color: #a0a0a0; }
ul.bar.ro .part0	{ background-color: #a0a0a0; }
ul.bar.ro .part1	{ background-color: #404040; color: #ffffff; }

.bartdth, .bartdthpdg, .pathrw, .pathro { text-align: left; font-weight: normal; }
.bartdthpdg, .pathrw, .pathro	{ padding-right:10px; }
.pathrw			{ color: #808080; }
.pathro			{ color: #000000; }
.rbtnrw, .rbtnro, .wbtnrw, .wbtnro { padding:0px; margin:0px; width: 25px; height: 25px; font-size: 8pt; font-weight:bold; border-width:3px; }
.rbtnro, .wbtnrw	{ border-style: solid; color:#FFFFFF; }
.rbtnrw, .rbtnro	{ border-color:#404040; }
.rbtnro			{ background-color:#404040; }
.wbtnrw, .wbtnro	{ border-color:#808080; }
.wbtnrw			{ background-color:#808080; }


#edgeleft		{ background: url(/images/edge_l.png) repeat-y left; }
#edgetop		{ background: url(/images/edge_t.png) repeat-x top; }
#edgeright		{ background: url(/images/edge_r.png) repeat-y right; }
#edgebottom		{ background: url(/images/edge_b.png) repeat-x bottom; }
#content		{ padding: 10px; }
