ul.bar.rw .part0, ul.bar.br .part0  { background-color: #c0c0c0; }
ul.bar.rw .part1, ul.bar.br .part1  { background-color: #808080; color: #ffffff; }
ul.bar.br .part2	{ background-color: #a0a0a0; }
ul.bar.ro .part0	{ background-color: #a0a0a0; }
ul.bar.ro .part1	{ background-color: #404040; color: #ffffff; }

.mounted .rw .path	{ color: #808080; }
.mounted .ro .path	{ color: #000000; }

.mounted .button[disabled] { color:#FFFFFF; }
.mounted .button[value=R] { border-color:#404040; }
.mounted .ro .button[value=R] { background-color:#404040; }
.mounted .button[value=W] { border-color:#808080; }
.mounted .rw .button[value=W] { background-color:#808080; }
