ul.bar.rw .part0, ul.bar.br .part0  { background-color: #c0c0c0; }
ul.bar.rw .part1, ul.bar.br .part1  { background-color: #00ff00; }
ul.bar.br .part2	{ background-color: #80c080; }
ul.bar.ro .part0	{ background-color: #c0c0ff; }
ul.bar.ro .part1	{ background-color: #0000ff; color: #ffffff; }

.pathrw			{ color: #008000; }
.pathro			{ color: #000080; }
.rbtnro, .wbtnrw	{ color:#FFFFFF; }
.rbtnrw, .rbtnro	{ border-color:#000080; }
.rbtnro			{ background-color:#000080; }
.wbtnrw, .wbtnro	{ border-color:#008000; }
.wbtnrw			{ background-color:#008000; }
