#freetz-conf {
	border-spacing: 0pt;
}
#freetz-conf th, #freetz-conf td {
	text-align: left;
	vertical-align: top;
	padding-right: 10px;
}
#freetz-conf th {
	font-weight: bold;
}
#freetz-conf td {
	font-weight: normal;
}
