## Enable Quickleave mode (Sends Leave instantly)
quickleave

## Configuration for nas0 (Upstream Interface, server)
phyint nas0 upstream  ratelimit 0  threshold 1
#altnet 10.1.12.0/24

## Configuration for lan (Downstream Interface, player)
phyint lan downstream  ratelimit 0  threshold 1

## Configuration for Disabled Interfaces
phyint dsl disabled
phyint lo disabled
phyint cpmac0 disabled

