@import url(../common.css);

a {
	text-decoration: none;
}
a:link, a:visited {
	color: #303030;
}
a:hover {
	color: #505050;
	text-decoration: underline;
}
body {
	margin: 0px;
	background: #ebffbd url(/images/newfreetz/hg_freetz.png) repeat-x;
	font-family: Arial, serif, sans-serif, cursive;
	font-size: 13px;
	color: #333333;
}

form {
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0px;
}
h1, legend {
	margin-top: 5px;
	font: bold 14px sans-serif;
}
h2 {
	margin-top: 10px;
	margin-bottom: 7px;
	padding: 0px;
	color: black;
	font: italic 14px sans-serif;
}
pre {
	font-size: 10px;
	border: 1px solid #bbbbbb;
	margin:20px;
	padding: 10px;
	color: #CCC;
	background-color: #333;
}
pre.plain {
	font-size: 8pt;
	border: none;
	padding: 0px;
}

pre.log.full {
	min-height: 550px;
	max-height: 550px;
}
fieldset {
	margin: 10px 0px;
	padding: 10px;
}
small {
	font-size: 8pt;
}
input {
	padding: 2px;
}
form.btn {
	margin: 0px;
}
div.btn {
	margin-top: 10px;
	padding-right: 3px;
}
#menu {
	width: 180px;
	margin-top: 15px;
	float:left;
}
#menu ul, #menu li {
	margin: 0;
	padding: 0;
}

.menu li {
	display: block;
	font: bold 12px sans-serif;
	margin-top: 2px;
	padding: 1px 0px 1px 0px;
}
#menu li li {
	font-weight: normal;
	font-size: 10px;
	margin-top: -2px;
}

.menu a {
	display: block;
	padding: 3px 15px;
}
.menu ul a {
	padding-left: 25px;
	padding-top: 4px;
	padding-bottom:4px;
}
.menu a:link, .menu a:visited, .menu a:hover {
	color: #333;
}
.menu .active {
	background-image: url(/images/newfreetz/menu-active.png);
}
.menu.new ul {
	display: none;
}
.menu.new > li.open ul {
	display: block;
}

#titlebar {
	position: relative;
	left: 15px;
	top: -25px;

}

span.title {
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}
span.help a, span.help {
	font-style: italic;
}

#footer {
	color: gray;
	font: normal 10px Verdana, sans-serif;
	text-align: center;
	margin-top: 15px;
	margin-bottom:30px;
}
div.su a {
	padding-left: 20px;
	padding-right: 5px;
}

#menu-top, #menu-bot {
	width: 160px;
	height: 9px;
	float:left;
}
#menu-top-left, #menu-top-right {
	width: 10px;
	height: 10px;
	float:left;
}
#menu-top-left {
	background: url(/images/newfreetz/menu-top-left.png);
}
#menu-top-right {
	background: url(/images/newfreetz/menu-top-right.png);
}
#menu-back, #menu-top, #menu-bot {
	background-color: #f1f7f3;
	border: 0px solid #306b20;
}
#menu-top {
	border-top-width: 1px;
}
#menu-bot {
	border-bottom-width: 1px;
}
#menu-back {
	border-left-width:1px;
	border-right-width: 1px;
	height: auto;
	width: 178px;
	margin-top: 20px;
	padding-bottom: 3px;
}
#menucontainer {
	margin-top: -10px;
	padding-right: 4px;
	padding-left: 4px;
}
#edge {
	margin-top: 15px;
	float:right;
}

#top {
	height: 30px;
}

#edge-top {
	background: url(/images/newfreetz/edge-top.png) repeat-x;
	width: 720px;
}
#edge-top-left, #edge-top-right, #edge-top {
	float:left;
	height: 30px;
}
#edge-top-left, #edge-top-right {
	width: 10px;
}
#edge-top-left {
	background: url(/images/newfreetz/edge-top-left.png);
}
#edge-top-right {
	background: url(/images/newfreetz/edge-top-right.png);
}

#edge-bot {
	background-color: #f1f7f3;
	border-bottom: 1px solid #306b20;
	float: left;
	width: 720px;
	height:9px;
}

#edge-bot-left {
	background: url(/images/newfreetz/edge-bot-left.png);
}
#edge-bot-right {
	background: url(/images/newfreetz/edge-bot-right.png);
}

#edge-bot-left, #edge-bot-right {
	float:left;
	width: 10px;
	height: 10px;
	background-repeat: no-repeat;
}
#container {
	background-color: #f1f7f3;
	border: 1px solid #306b20;
	border-top: 0px;
	border-bottom: 0px;
	padding: 10px 15px;
}
.menu + #content {
	margin-right: 225px;
}
.textwrapper {
	margin-right: 8px;
}
.textwrapper textarea {
	width: 100%;
}

#wrapper {
	margin: auto;
}
#contentwrapper {
	margin-left: auto;
	margin-right: auto;
}

#title-box {
	position:relative;
	color: #333333;
	font: italic 12px "Courier New", Courier, monospace;
	margin-top:15px;
	margin-left: -5px;
	height: 65px;
	}

#title-box-mid {
	background:url(/images/newfreetz/title_1px.png) repeat-x;
	height: 65px;
	float:left;

}
#title-box-left {
	background:url(/images/newfreetz/title_left.png);
	height: 65px;
	width: 25px;
	float:left;
}


#title-box-right {
	background:url(/images/newfreetz/title_right.png);
	height: 65px;
	width: 35px;
	float:left;
}

#title-box-logo {
	position: absolute;
	height: 50px;
	width: 194px;
	left: 50px;
	top: 4px;
}

#title-box-fun {
	position: absolute;
	left: 250px;
	top: 30px;
}
#title-box-version {
	position: absolute;
	left: 240px;
	top: 30px;
	text-align: right;
}
#breakline {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #306b20;
	height: 2px;
	width: 738px;
	margin-left: -15px;
	margin-top: 10px;
	padding-bottom: 5px;
}
.section {
	margin: 10px 0;
}
