table.bar.rw .part0, table.bar.br .part0  { background-color: #c0c0c0; }
table.bar.rw .part1, table.bar.br .part1  { background-color: #808080; color: #ffffff; }
table.bar.br .part2	{ background-color: #a0a0a0; }
table.bar.ro .part0	{ background-color: #a0a0a0; }
table.bar.ro .part1	{ background-color: #404040; color: #ffffff; }

.mounted .rw .path	{ color: #808080; }
.mounted .ro .path	{ color: #000000; }

.mounted .button[value=R] { border-color: #404040; color: #404040; }
.mounted .ro .button[value=R] { background-color: #404040; color: white; }
.mounted .button[value=W] { border-color: #808080; color: #808080; }
.mounted .rw .button[value=W] { background-color: #808080; color: white; }
