/build/

/ash
/avm-rle-*
/avm_kernel_config.extract
/avm_kernel_config.bin2asm
/blkid
/bunzip2
/busybox
/bzcat
/bzimage2eva
/cksum
/debugfs
/e2*
/eva2bzimage
/eva2lzma
/eva_tools
/genext2fs
/gunzip
/lunzip
/lzcat
/lzma
/lzma2eva
/makedevs
/md5sum
/modfs
/patchelf
/sfk
/sha1sum
/sha256sum
/sha512sum
/*squashfs*
/sum
/tar
/tar-gnu
/tichksum
/tune2fs
/uncompress
/unlzma
/unxz
/unzip
/xz
/xzcat
/yf
/zcat
