pre {
	overflow: auto;
}
pre.log {
	max-height: 350px;
}
pre.log .failure {
    	color: #ff0000;
}
pre.log .success {
    	color: #00c000;
}
pre.log .foreign {
    	color: #0000ff;
}
pre.log .disabled {
    	color: #ff9933;
}
.error {
	color: #ff0000;
	font-weight: bold;
}
.warning {
    	color: #ff0000;
}
table.bar, table.bar td {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
table.bar {
	width: 100%;
	margin: 3px 0px;
	border-spacing: 0px;
}
table.bar td {
	text-align: center;
	font-size: 8pt;
	padding: 2px;
}
